.tickets-conteiner{
    display: grid;
    grid-template-columns: 15% 50% 33%;
    gap: 1%;
    overflow: hidden;
    margin: 0% 1% 0% 1%;
    opacity: 95%;
}
.tickets-filter-conteiner{
    height: 58%;
    box-shadow: 0px 0px 6px 2px;
}
.tickets-filter-conteiner h4{
    text-align: center;
    margin-top: 5%;
}
.tickets-filter-conteiner ul{
    list-style-type: none;
    padding-left: 5%;    
}
.tickets-filter-conteiner input{
    width: 100%;
}
.tickets-filter-conteiner li{
    margin-top: 5%;
}
.tickets-filter-conteiner li div{
    display: grid;
    grid-template-columns: 30% 62%;    
    gap: 2%;
}

.tickets-data-grid{
    overflow: auto;
    display: list-item;
    height: 75vh;
    box-shadow: 0px 0px 15px;
}
.tickets-card-conteiner{
    border: 1px solid black;    
    display: grid;
    grid-template-columns: 75% 23%;
    gap: 2%; 
}
#tickets-card-id, #tickets-card-date, #tickets-card-state,#tickets-card-client-state, #tickets-card-owner{
    text-align: center;
}
#tickets-card-id-state{
    display: grid;
    grid-template-columns: 70px 70px;
}
#tickets-card-left, #tickets-card-right{
    padding: 1%;
}
#tickets-card-client-row{
    display: grid;
    grid-template-columns: 85% 15%;
}
#tickets-card-client, #tickets-card-data{  
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#tickets-card-data{
    margin-top: 1%;
}
#tickets-card-owner, #tickets-card-client-state{
    background-color: white;
    color: black;
    border: 1px solid black;
}

/*Area modificaciones*/
.tickets-modi-bg{
    margin-left: 0.5%;
    box-shadow: 0px 0px 6px 2px;
}
.tickets-modi-conteiner{
    margin: 2%;
    height: 69vh;
}
.tickets-modi-stateArea{
    height: 33%;
}
.tickets-modi-row{
    width: 100%;
    display: inline-flex; 
    margin-bottom: 3%;   
}
.tickets-modi-conteiner input{
    width: 100%;
    font-size: 0.9em;
}
.tickets-modi-conteiner input:hover{
    width: 100%;
    font-size: 0.9em;    
    box-shadow: 0px 0px 6px 2px;
}
.tickets-modi-subTitle{
    display: flex;
    margin-top: 0.5em;
}
.tickets-modi-subTitle hr{
    width: 35%; 
    margin-top: 0.6rem;    
}
.tickets-modi-subTitle p{     
    margin-bottom: 0.5rem;
}
.tickets-modi-fcreacion{
    position: fixed;
    width: 40%;
    z-index: 99;  
    margin-top: -2%;
    margin-left: 6%; 
}
.tickets-modi-emp{
    display: grid;
    grid-template-columns: 14% 60% 14% 6%;
    gap: 2%;
}
.tickets-modi-emp i{
    margin-left: 30%;
}

.tickets-modi-emp input, .tickets-modi-param input, .tickets-modi-contacto input{
    text-align: center;
}
.tickets-modi-fmodificacion{
    width: 40%;    
}
.tickets-modi-contacto{
    display: grid;
    grid-template-columns: 29% 29% 40%;
    gap: 1%;
}

.tickets-modi-param{
    display: grid;
    grid-template-columns: 27% 20% 20% 30%;
    gap: 1%;
}
.options-menu{
    position: fixed;
    background-color: antiquewhite;
    margin: 0.1em 0 0 0.5em;
    border-radius: 5%;
    box-shadow: 0px 0px 5px 0px;
}
.options-menu option{
    width: 100%;
    padding: 0em 0.3em;
    font-size: 0.9em;
}
.tickets-modi-data{
    height: 25%;
}
.tickets-modi-notaInterna{
    height: 20%;
}
.tickets-modi-data textarea, .tickets-modi-notaInterna textarea{
    width: 100%;
    height: 100%;
    resize: none;
}
.tickets-modi-buttons{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    gap: 10%;
    margin-left: 3%;    
    margin-top: 1em;
}

