.sidebar-wrapper, .main-header {
  background-color: #1e3b5b;
  opacity: 90%;
}
.sidebar-wrapper .sidebar-item {
  border-top: 1px solid #2b2b2b; 
}
.sidebar-wrapper  a:not(.dropdown-item),
.sidebar-wrapper .sidebar-header,
.sidebar-wrapper .sidebar-search input,
.sidebar-wrapper .sidebar-search i,
#title i,
.sidebar-wrapper  #title:not(.dropdown-item),
.sidebar-dropdown span {
 color: bisque; 
}
.sidebar-wrapper a:not(.dropdown-item):hover,
.sidebar-wrapper .sidebar-menu li.active > a,
.sidebar-dropdown span:hover{
 color: #d8d8d8; 
}
.sidebar-wrapper .sidebar-menu a:hover i,
.sidebar-wrapper .sidebar-menu a:hover:before,
.sidebar-wrapper .sidebar-menu li.active a i,
.sidebar-menu #title:hover i{
  color: #167bff; 
}
.sidebar-wrapper .sidebar-menu .header-menu span, .user-name {
  color: aliceblue; 
}
.sidebar-wrapper .sidebar-item{
 border-color: #454545; 
}

.sidebar-dropdown-item {
  background-color: rgba(81, 81, 81, 0.5); 
}
.title{
  background-color: inherit;
}